<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312"/>
    <title>业务申报</title>
    <script language="javascript" src="js/js.js"></script>
    <script language="JavaScript" src="js/My97DatePicker/WdatePicker.js" type="text/javascript"></script>
    <link href="styles/style.css" rel="stylesheet" type="text/css">
    <script type="application/javascript" src="js/jquery.min.js"></script>
    <script type="application/javascript" src="js/vue.js"></script>
    <script type="application/javascript" src="js/vue-resource.min.js"></script>
</head>
<body>
<div id="app">
    <table width="85%;" style="text-align:left;margin-top:15px;" class="tableselect">
        <tr>
            <td style="text-align:right;">大类：</td>
            <td>
                <select onchange="getStyle2(this)">
                    <option>选择</option>
                    <option v-for="style in style1" value="{{style.id}}">{{style.name}}</option>
                </select>
            </td>
            <td style="text-align:right;">详细类别：</td>
            <td>
                <select v-model="id">
                    <option v-for="style in style2" value="{{style.id}}">{{style.name}}</option>
                </select>
            </td>
            <td style="text-align:right;">物品名称：</td>
            <td><input type="text" size="30" v-model="keyword"/></td>
            <td><input v-on:click="getGoodsPage" type="button" class="btn" onmouseover="changebg(this,'1')"
                       onmouseout="changebg(this,'1')"
                       value="查 询"/>
                <input type="submit" class="btn" onclick="jumpto(&quot;shopcart.html&quot;)"
                       onmouseover="changebg(this,'1')" onmouseout="changebg(this,'1')" value="购物车"/></td>
            <td>
                <button v-on:click="getAll">全部物品</button>
            </td>
        </tr>
    </table>
    <font style="color:#0065CA; font-size:14px;">注意：请到购物车提交订购的物品</font>
    <hr style="width:98%;"/>
    <table class="table11" style="width:85%;">
        <tr>
            <th style="width:380px;">大类&mdash;详细类别&mdash;<span style="width:250px;">物品名称</span></th>
            <th>均价</th>
            <th>限额</th>
            <th>库存存量</th>
            <th style="width:110px;text-align:center;">订购</th>
        </tr>
        <tr v-for="goods in list">
            <td> {{goods.style.style.name}} &mdash; {{goods.style.name}} &mdash; {{goods.name}}</td>
            <td>￥{{goods.price}}</td>
            <td>{{goods.norm}}</td>
            <td>{{goods.stock}}</td>
            <td style="text-align:center;">
                <input name="number" id="{{goods.id}}" type="text" size="5"/>&nbsp;
                <input onclick="postShopCart(this)" type="button" class="btn" onmouseover="changebg(this,'1')" onmouseout="changebg(this,'1')"
                       value="订 购"/>
            </td>
        </tr>
    </table>
    <div> 总共有<span class="red">{{totalNumber}}</span>条记录，总共有<span class="red">{{totalPage}}</span>页，当前第<span
            class="red">{{currentPage}}</span>页。
        <a v-on:click="getGoodsPage('首页')">首页</a>
        <a v-on:click="getGoodsPage('上一页')">上一页</a>
        <a v-on:click="getGoodsPage('下一页')">下一页</a>
        <a v-on:click="getGoodsPage('尾页')">尾页</a>
        转到第
        <select name="GoTo" id="GoTo" onchange="getGoodsPage(this)">
            <option v-for="pagetemp in totalPage" value="{{pagetemp+1}}">{{pagetemp+1}}</option>
        </select>
        页
    </div>
</div>
</body>
</html>

<script type="application/javascript">
    //加入购物车
    function postShopCart(temp) {
        var number=$(temp).prev().val();
        var goods_id=$(temp).prev().attr("id")
        vue1.postShopCart(number,goods_id);
    }
    //第二小类
    function getStyle2(temp) {
        vue1.getStyle2(temp.value);
    }
    function getGoodsPage(temp) {
        vue1.getGoodsPage(temp.value);
    }
    var vue1 = new Vue({
        el: '#app',
        data: {
            totalNumber: 0,
            totalPage: 0,
            currentPage: 0,
            nextPage: 0,
            frontPage: 0,
            list: {},
            style1: {},
            style2: {},
            keyword: "",
            id: ""
        },
        methods: {
            //添加购物车
            postShopCart: function (number,goods_id) {
                apiUrl = "postShopCart.do?number="+number+"&gid="+goods_id;
                this.$http.get(apiUrl)
                        .then(function () {
                            alert("添加成功")
                        })
            },
            //显示所有
            getAll: function () {
                this.keyword = "";
                this.getGoodsPage();
            },
            getStyle1: function () {
                apiUrl = "getStyle1.do";
                this.$http.get(apiUrl)
                        .then(function (response) {
                            this.$set('style1', response.data);
                        })
            },
            getStyle2: function (temp) {
                apiUrl = "getStyle2.do?id=" + temp;
                this.$http.get(apiUrl)
                        .then(function (response) {
                            this.$set('style2', response.data);
                        })
            },
            getGoodsPage: function (temp) {
                //得到页码
                if (temp == "首页") {
                    temp = 1;
                } else if (temp == "上一页") {
                    if (this.frontPage < 1) {
                        temp = 1;
                    } else {
                        temp = this.frontPage;
                    }
                } else if (temp == "下一页") {
                    if (this.nextPage > this.totalPage) {
                        temp = this.totalPage;
                    } else {
                        temp = this.nextPage;
                    }
                } else if (temp == "尾页") {
                    temp = this.totalPage;
                } else if (temp == undefined) {
                    //未定义
                    temp = 1;
                } else if (typeof temp == "MouseEvent") {
                    temp = 1
                }
                var vm = this;
                $.ajax({
                    url: "getGoodsPage.do",
                    data: {
                        currentPage: temp,
                        id: vm.id,
                        keyword: vm.keyword
                    },
                    success: function (response) {
                        vm.$set('totalNumber', response.totalNumber);
                        vm.$set('totalPage', response.totalPage);
                        vm.$set('currentPage', response.currentPage);
                        vm.$set('nextPage', response.nextPage);
                        vm.$set('frontPage', response.frontPage);
                        vm.$set('list', response.list);
                    }
                });
            }
        },
        ready: function () {
            //得到列表数据
            this.getGoodsPage();
            //得到大类
            this.getStyle1();
        }
    })
</script>
