<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="styles/login.css" />
    <script type="application/javascript" src="js/jquery.min.js"></script>
    <script type="application/javascript" src="js/vue.js"></script>
    <script type="application/javascript" src="js/vue-resource.min.js"></script>
</head>
<body>
    <form id="form1" runat="server">
    <div class="LoginBottomBg">
        <div class="LoginTopBg">
            <div class="LoginBox">
                <div class="LoginTop">
                    &nbsp;
                </div>
                <div class="LogoImg">
                    &nbsp;
                </div>
                <table class="LoginTb" id="app">
                    <tr>
                        <td class="LoginTbLeft">
                            用户名:
                              <input v-model="name" name="account" type="text" style="width:100px; height:22px;">
                      </td>
                        <td rowspan="3" class="LoginTbRight">
						<a>
							<img v-on:click="login" src="images/BtnLogin.gif" name="Image1" border="0" id="Image1">
					    </a>                       
					  </td>
                    </tr>
                    <tr>
                        <td class="LoginTbLeft">
                        </td>
                    </tr>
                    <tr>
                      <td class="LoginTbLeft">
                            密&#12288;码:
                            <input v-model="password" type="password" name="password" style="width:100px; height:22px;">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    </form>
</body>
</html>
<script type="application/javascript">
    new Vue({
        el: '#app',
        data: {
            name:"admin",
            password:"admin"
        },
        methods: {
            login: function () {
                apiUrl = "login.do?name="+this.name+"&password="+this.password;
                this.$http.get(apiUrl).then(function (response) {
                    if(response.data){
                        location.href="index.html";
                    }else {
                        alert("登录失败");
                    }
                })
            }
        }
    })
</script>
