<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>需求保障管理系统</title>
<link href="styles/style.css" rel="stylesheet" type="text/css">
<script language="javascript" src="js/js.js"></script>
<script type="application/javascript" src="js/jquery.min.js"></script>
<script type="application/javascript" src="js/vue.js"></script>
<script type="application/javascript" src="js/vue-resource.min.js"></script>
</head>
<body>
<div style="width:30%;margin: 0 auto; margin-top:15px; " id="app">
  <table class="table11">
    <tr>
      <th style="padding:0 0 0 0; width:30%;"></th>
      <th style="padding:0 0 0 0;"></th>
    </tr>
    <tr>
      <th colspan="2">&nbsp;</th>
    </tr>
    <tr>
      <td style="text-align:right;">旧密码</td>
      <td style="text-align:left;"><input v-model="password" name="oldPass" type="password" style="width:85%;">      </td>
    </tr>
    <tr>
      <td style="text-align:right;">新密码</td>
      <td style="text-align:left; "><input v-model="newpass" name="password" type="password" style="width:85%;" size="30">      </td>
    </tr>
    <tr>
      <td style="text-align:right;">确认新密码</td>
      <td style="text-align:left; "><input v-model="repass" name="repass" type="password" style="width:85%;" size="30">      </td>
    </tr>
    <tr>
      <td colspan="2" align="center">
        <button v-on:click="reset" class="btn">提 交</button>
        &nbsp;&nbsp;
        <button onclick="javascript:history.go(-1)"  class="btn">返 回</button>
      </td>
    </tr>
  </table>
</div>
</body>
</html>
<script type="application/javascript">
  new Vue({
    el: '#app',
    data: {
      password:"",
      newpass: "",
      repass:""
    },
    methods: {
      reset: function () {
        if(this.newpass==this.repass){
          apiUrl = "reset.do?password="+this.password+"&newpass="+this.newpass;
          this.$http.get(apiUrl).then(function (response) {
            if(response.data){
              alert("密码修改成功，重新登录");
              window.parent.location.href="login.html";
            }else{
              alert("旧密码错误");
            }
          })
        }else{
          alert("两次密码输入不同");
        }
      }
    }
  })
</script>
